html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    
    box-sizing:border;
}
main{
    width:100%;
    height:100%;
    display:flex;
    
}
section{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

#right{
    display:flex;
    
    background-color:red;
}
#middle{
    background-color:blue;
}
#left{
    background-color:orange;
}
div{
    margin:1em;
    width:9em;
    height:9em;
    background-color:green;
    
}

aside{
    height:2em;
    width:2em;
    background-color:black;
    
}

#right > div:nth-of-type(2){
    display:flex;
    justify-content:center;
}
#right > div:nth-of-type(3){
    display:flex;
    justify-content:flex-end;
}
#middle > div:nth-of-type(1){
    display:flex;
    align-items:center;
}

#middle > div:nth-of-type(2){
    display:flex;
    align-items:center;
    justify-content:center;
}
#middle > div:nth-of-type(3){
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

#left > div:nth-of-type(1){
    display:flex;
    align-items:flex-end;
}

#left > div:nth-of-type(2){
    display:flex;
    align-items:flex-end;
    justify-content:center;
}

#left > div:nth-of-type(3){
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
}

